<h1>Super Teams</h1>
<div class="team">
  <h3>Name: <%= @team.name %></h3><br>
  <h3>Team Motto: <%= @team.motto %></h3><br>
</div><br>


<h1>Heroes</h1>
<% @heroes.each do |hero| %>
  <div class="ship">
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p><br>
  </div><br>
<% end %>

